@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
}

body{
  background-color: var(--color2);
  color: var(--color1);
  
}

:root{
  --color1: #FFF5E1 ;
  --color2: #222831;
}

.title-game{
  height: 70px;
  -webkit-text-stroke: .4px var(--color2);
}

#h1 {
  text-align: center; 
  color: var(--color1); 
  background-color: var(--color2);
  font-size: 1.3rem;
  padding: 15px;
}
  
.square {
  float: left;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  margin: 1.66%;
  border-radius: 15pt;
  transition-duration: 0.6s;
}
  
.container {
  margin: 2% auto !important;
  max-width: 600px;
}
  
#stripe {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  margin: 0;
}
  
.selected {
  background-color: var(--color1);
  color: var(--color2);
}
  
button{
  background-color: inherit;
  color: var(--color1);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding-bottom: 3px;
  margin-left: 5px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: all 0.4s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
  
button:hover{
  color: var(--color2);
  background: var(--color1);
}

span#message{
  font-size: .9rem;
  color: var(--color1);
  display: inline-block;
  width: 260px;
  height: 20px; 
  text-align: center;
  line-height: 20px; 
  text-align: center;
  vertical-align: middle; 
}

@media (max-width: 570px) {
  span#message{
    font-size: .7rem;
    width: 100px;
  }
  button{
    font-size: .8rem;
  }
  #h1{
    font-size: 1rem;
  }
}